<h4>Note</h4>

<form ng-submit="saveNote()">
    <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="selectedNote.title" required md-maxlength="10">
    </md-input-container>

    <md-input-container>
        <label>Note text</label>
        <textarea class="note-body" ng-model="selectedNote.description" rows="10" required md-maxlength="500">
                </textarea>
    </md-input-container>

    <div class="action-buttons">
        <md-button type="submit">
            Save
        </md-button>
        <md-button ng-if="selectedNote.id" ng-click="deleteNote(selectedNote.id)">
            Delete
        </md-button>
        <md-button ng-click="cancelEdit()">
            Cancel
        </md-button>
    </div>
</form>